<div class="modal fade" id="selectDeptModal" tabindex="-1" role="dialog" aria-labelledby="selectDeptModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="fa fa-times"></span>
                </button>
                <h4 class="modal-title" id="selectDeptModalLabel">
                    选择组织
                </h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <ul id="deptModalTree" class="ztree"></ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSelectDept">选择</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/script/dept.js}"></script>
<script>
    $(function() {
        $.poa.dept.initDeptSelectModal();
    });
</script>