<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">用户管理</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" id="searchCondition">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i>查询条件
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>警号</label>
                                <input type="text" id="policeNo" class="form-control" placeholder="支持模糊查询" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>姓名</label>
                                <input type="text" id="userName" class="form-control" placeholder="支持模糊查询" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button id="userSearch" type="button" class="btn btn-primary">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i>用户一览
            </div>
            <div class="panel-body">
                <div class="table-toolbar">
                    <button class="btn btn-default" id="addUser"><i class="fa fa-plus"></i>添加</button>
                    <button class="btn btn-default" id="editUser"><i class="fa fa-pencil"></i>编辑</button>
                    <button class="btn btn-default" id="deleteUser"><i class="fa fa-trash"></i>删除</button>
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            导入<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" id="downloadTemplateLink">下载模板</a></li>
                            <li><a href="#" id="importFileLink">导入文件</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            导出<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" id="exportAllLink">导出全部</a></li>
                            <li><a href="#" id="exportCurrentPageLink">导出本页</a></li>
                            <li><a href="#" id="exportSelectionLink">导出选择</a></li>
                        </ul>
                    </div>
                </div>
                <table id="usersTable" class="table table-striped table-bordered table-hover"></table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/script/user.js}"></script>
<script>
    $(function() {
        $.poa.user.init();
    });
</script>